<div class='value--bg-2'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='block-padding'>
          <h2 class='text-center'>How It Works</h2>
          <p class='sm-block-padding'>
            <ol>
              <li>
                Record some POV video of a Strava ride
              </li>
              <li>
                Open {{ site.app_name }}, add the video, and attach the Strava activity
              </li>
              <li>
                Line up the video with the activity using an intuitive interface
              </li>
              <li>
                Watch your race replay!
              </li>
            </ol>
          </p>
        </div>
        <div class='bottom-block-padding'>
          <h2 class='text-center'>Give it a try</h2>
          <p class='text-center sm-block-padding'>...and let us know what you think. We love getting feedback.</p>
          <p class='text-center'>
            {% include app-store.html %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
