  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 text-center'>
        <div class='block-padding'>
          <h2>How It Works</h2>
          <p>{{ site.app_name }} combines Strava activities with videos by aligning their start times.</p>
          <p>Some videos are automatic, but most will require a manual alignment.</p>
          <p>Fortunately, it's easy to do and {{ site.app_name }} will let you know when you need to do it.</p>
      </div>
      <div class='block-padding'>
        <h2>Give it a try!</h2>
        <p>...and make sure to let us know what you think.  We love getting feedback.</p>
      </div>
    </div>
  </div>
</div>
