<div class='value--bg-2'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-8 col-sm-offset-2'>
        <div class='block-padding'>
          <h2 class='text-center'>How It Works</h2>
          <ol class='sm-block-padding'>
            <li>
              Record video and a Strava activity together on a ride
            </li>
            <li>
              Open {{ site.app_name }}, add the video, and attach the Strava activity
            </li>
            <li>
              Align the video and activity timelines using the intuitive interface
            </li>
            <li>
              Watch your race replay!
            </li>
          </ol>
        </div>
        <div class='bottom-block-padding'>
          <h2 class='text-center'>Give it a try</h2>
          <p class='text-center sm-block-padding'>...and let us know what you think. We love getting feedback.</p>
          <p class='text-center'>
            {% include app-store.html %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
