<div class='block-padding'>
	<div class='container'>
		<div class='row'>
			<div class='col-sm-8 col-sm-offset-2'>
				<h2 class='text-center'>...what about <span class='android-color'>android</span>?</h2>
				<p class='text-center sm-block-padding'>An Android version is in the works!  Get notified when it's released.  We won't send you any junk mail.</p>
				<form action="https://github.us17.list-manage.com/subscribe/post?u=39a7075734046d7253511e2e9&amp;id=dd687c0e5e"
							method="post"
							class="form-inline text-center" target="_blank" novalidate>
					<div class='form-group'>
						<input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					</div>
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02ace6334d00debc4568f6c95_a64f78a6c9" tabindex="-1" value=""></div>
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
				</form>
			</div>
		</div>
	</div>
</div>
