<div class='summary'>
  <div class='uci'>
    <i class='uci_1'></i>
    <i class='uci_2'></i>
    <i class='uci_3'></i>
    <i class='uci_4'></i>
    <i class='uci_5'></i>
  </div>
  <div class='container'>
    <div class='block-padding'>
      <div class='row'>
        <div class='col-xs-12 text-center'>
          <h2>
            Interactive Video Telemetry
          </h2>
          <p class='sm-block-padding'>
            Watch your action video with speed, time and location overlays
          </p>
        </div>
      </div>
      <div class='text-center'>
        {% include app-store.html %}
      </div>
    </div>
  </div>
</div>
