<div class='summary'>
  <div class='uci'>
    <i class='uci_1'></i>
    <i class='uci_2'></i>
    <i class='uci_3'></i>
    <i class='uci_4'></i>
    <i class='uci_5'></i>
  </div>
  <div class='container'>
    <div class='block-padding'>
      <div class='row'>
        <div class='col-xs-12 text-center'>
          <h2>
            Interactive Video Telemetry
          </h2>
          <p class='sm-block-padding'>
            Watch your race in action with speed, time and location overlays
          </p>
        </div>
      </div>
      <div class='text-center'>
        <a href='https://geo.itunes.apple.com/us/album/deluxe/1193701079?mt=1&app=music' target='_blank' title='Replay on the App Store' class='download'>
          <img src='{{ site.baseurl }}/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.png' />
        </a>
      </div>
    </div>
  </div>
</div>
