<div class='value--bg-1 block-padding'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 value__img-container'>
        <img src='https://s3.amazonaws.com/replay-landing-page/SpeedGraph.jpg' width='100%' />
        <br />
        <br />
      </div>
      <div class='col-md-6'>
        <h2>Find Highlights</h2>
        <p>
          Fast forward to your top speed, biggest drop, or your favourite corner.
        </p>
      </div>
    </div>
  </div>
</div>
<div class='value--bg-3 block-padding'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <h2>
          Compare Race Results
        </h2>
        <p>
          See where you gained or lost time against a competitor.  Select the competitor from the Strava leaderboard for that segment.
        </p>
        <br />
      </div>
      <div class='col-md-6 value__img-container'>
        <img src='https://s3.amazonaws.com/replay-landing-page/SplitTimes.jpg' width='100%' />
      </div>
    </div>
  </div>
</div>
