<div class='value--bg-1 block-padding'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <h2>Compare Efforts</h2>
        <p>Select a competitor from the leaderboard to compare your segment effort against.  The graph shows the difference in time so you can easily see where you lost or gained time.</p>
        <br />
      </div>
      <div class='col-md-6 value__img-container'>
        <img src='{{ site.baseurl }}/img/compare_effort_landscape.jpg' width='100%' />
      </div>
    </div>
  </div>
</div>
<div class='value--bg-3 block-padding'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 value__img-container'>
        <img src='{{ site.baseurl }}/img/map.jpg' height='400px' />
        <br />
        <br />
      </div>
      <div class='col-md-6'>
        <h2>View Telemetry</h2>
        <p>
          Speed, altitude, and map overlays allow you to easily find the clip of your top speed, biggest drop, or your favourite corner.
        </p>
      </div>
    </div>
  </div>
</div>
