.value--bg-1 {
  background-color: #dc2525;
  color: white;
}

.value--bg-2 {
  background-color: white;
  color: black;
}

.value--bg-3 {
  background-color: #282828;
  color: white;
}

.value--bg-4 {
  background-color: #A4C439;
  color: 'black';
}

.value__img-container {
  text-align: center;
}

.value__img-container__img {
  vertical-align: middle;
}
