.value--bg-1 {
  background-color: red;
  color: white;
}

.value--bg-2 {
  background-color: white;
  color: black;
}

.value--bg-3 {
  background-color: black;
  color: white;
}

.value__img-container {
  text-align: center;
}

.value__img-container__img {
  vertical-align: middle;
}
